## 1. Connection Python to MySQL 
## 2. Uploading tables into MySQL using Python function
***

In [9]:
pip install pandas mysql-connector-python sqlalchemy

Requirement already satisfied: pandas in /opt/anaconda3/envs/second/lib/python3.9/site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/envs/second/lib/python3.9/site-packages (9.0.0)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.31-cp39-cp39-macosx_10_9_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: numpy>=1.22.4 in /opt/anaconda3/envs/second/lib/python3.9/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/second/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/second/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/second/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/second/lib/python3.9/site-packages (from sqlalchemy) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3.tar.gz (182 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 182.0/182.0 kB 309.2 kB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/second/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading SQLAlchemy-2.0.31-cp39-cp39-macosx_10_9_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 804.2 kB/s eta 0:00:0000:0100:01
Building wheels for collected packages: greenlet
  Building wheel for greenlet (pyproject.toml) ... done
  Created wheel for greenlet: filename=greenlet-3.0.3-cp39-cp39-macosx_10_9_x86_64.whl size=213225 sha256=678a331cee928595228a1520a9a342fc4c920974a6105c694c4b0ac40b4b7761
  Stored in directory: /Users/iliagrishkin/Library/Caches/pip/wheels/4e/b7/50/fef77b0dafc995530497e09a5123f00b1e68c9d305e9cf37e5
Successfully built greenlet
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.31
Note: you may need to restart the kernel to use updated packages.

In [10]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData

In [11]:
conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='Oktymbox3443',
    database='Famous-Paintings'
)

if conn.is_connected():
    print('Connected to MySQL database')
else:
    print('Connection failed')

Connected to MySQL database

In [12]:
df = pd.read_csv('artist.csv')

In [13]:
df.head()

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,NaN,Cabanel,French,Classicist,1823,1889
2,502,James Ensor,James,NaN,Ensor,Belgian,Expressionist,1860,1949
3,503,Maximilien Luce,Maximilien,NaN,Luce,French,Pointillist,1858,1941
4,504,August Macke,August,NaN,Macke,German,Expressionist,1887,1914

In [18]:
tables = ['artist', 'canvas_size', 'image_link', 'museum_hours', 'museum', 'product_size', 'subject', 'work']
for table in tables:
    df = pd.read_csv(f'{table}.csv')
    conn_string = 'mysql+mysqlconnector://root:Oktymbox3443@127.0.0.1/Famous-Paintings'
    db = create_engine(conn_string)
    conn = db.connect()
    df.to_sql(table, con=conn, if_exists='replace', index=False)